@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-slate-800 dark:text-slate-200 bg-background-light dark:bg-background-dark font-body;
    }
}

@layer components {
    .glass-header {
        @apply bg-white/80 dark:bg-background-dark/80 backdrop-blur-md border-b border-gray-200 dark:border-white/10;
    }

    .glow-border {
        @apply relative border border-gray-200 dark:border-white/10;
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.pulse-circle {
    animation: pulse-ring 3s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}